<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO Home Page</title>
    <!-- 여기에 CSS 링크를 추가하세요 -->
    <link rel="stylesheet" href="/styles/home.css"> <!-- 프론트엔드 CSS 파일 링크 -->
    <!-- <link rel="stylesheet" href="/styles/main.css"> -->
</head>
<body>
    <header>
        <h1 id="logo">TODO Service Name</h1>
    </header>
    <main>
        <a id="login" href="/login">로그인</a><br><br><br><br>
        <a id="register" href="/register">회원가입</a>
        <section>
            <h2 id="contents">Service Introduction</h2>
            <p>서비스 소개글 추후 작성예정 .. 안적을수도</p>
        </section>
    </main>

<%- include('./include/footer') %>