<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO Home Page</title>
    <!-- 여기에 CSS 링크를 추가하세요 -->
    <link rel="stylesheet" href="/styles/home.css"> <!-- 프론트엔드 CSS 파일 링크 -->
    <!-- <link rel="stylesheet" href="/styles/main.css"> -->
</head>
<a href="#"><img id="top" src="/images/top.png" alt=""></a>
<body>
    <header>
        <h1 id="logo">Todo Service Name</h1>
        <img src="/images/logo.png" alt="로고이미지">

    </header>
    <main>
        <a id="login" href="/login">로그인</a><br><br><br><br>
        <a id="register" href="/register">회원가입</a>
        <section>
            <h1 id="contents">Service Introduction</h1><br><hr><br>
            <p>TODO Service Name은 쉽고 간편한 회원가입과 로그인을 제공합니다</p>
            <p>TODO Service Name을 이용해 할 일을 작성, 계획, 관리하세요.</p>
            <p>일상 생활에서 해야 할 일을 목록으로 정리하여 시간을 관리하고 생산성을 높일 수 있습니다!</p>
            <p>완료된 항목을 체크하여 진행 상황을 확인하며 보다 효율적으로 할 일을 완료해보세요.</p>
            <p>서비스명은 간단하고 직관적인 사용자 인터페이스를 제공하여 누구나 쉽게 사용할 수 있습니다.</p>
            <p>📱 로그인 - 회원가입시 입력한 이메일과 비밀번호를 정확히 입력하세요. </p>
            <p>📑 회원가입 - 최소한의 개인정보 (이름, 이메일, 비밀번호)를 통해 서비스에 가입하세요! </p>
            <p>✍🏻 Todo (할 일 관리) - 목표를 만들고, 할 일을 추가, 수정 및 삭제해보세요</p><br><br><br>
            <p>&copy; 2024 Your Company. All rights reserved.</p><br><br>
        </section>
    </main> 
    

<%- include('./include/footer') %>