<%- include('./include/header') %>
  <header>
      <h1>Welcome to our website</h1>
  </header>
    
  <nav>
      <!-- 네비게이션 메뉴들을 추가하세요 -->
      <ul>
          <li><a action="/" method="GET">Home</a></li>
          <li><a href="/login">로그인</a></li>
          <li><a href="/register">회원가입</a></li>
      </ul>
  </nav>

  <main>
      <!-- 메인 콘텐츠를 추가하세요 -->
      <section>
          <h2>서비스 소개</h2>
          <h2>Service Introduction</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit fermentum orci, ac eleifend nunc vehicula id.</p>
      </section>
  </main>

<%- include('./include/footer') %>