<%- include('./include/header') %>

<div class="home-container">
  <h3>로그인</h3>     
  <p>로그인이 필요한 서비스입니다.</p>

  <form action="/login" method="POST" class="login">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="사용자 이메일" name="email" id="email">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="비밀번호" name="password" id="password">
  
    <button type="submit">로그인</button>
  </form>
</div>

<%- include('./include/footer') %>