<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/todo.css">
    <script src="/views/js/todo.js" defer></script>
    <title>To-Do List</title>
</head>
<body>

<div id="todo-container">
    <h2>To-Do List</h2>
    <ul id="todo-list"></ul>
    <div id="add-todo">
        <input type="text" id="new-todo" placeholder="Add a new task">
        <button id="add-button">Add</button>
    </div>
</div>


</body>
</html>
