<%- include('./include/header') %>

<!-- Main -->
<main id="site-main">

  

  <div class="button-box">
    <a href="/" class="join"><i class="fa-solid fa-user-plus"></i>회원가입</a>
  </div>
</main>
<!-- /Main -->

<%- include('./include/footer') %>