<%- include('./include/header') %>

<!-- Main -->
<div id="todo-container">
  <h2>To-Do List</h2>
  <ul id="todo-list"></ul>
  <div id="add-todo">
  <input type="text" id="new-todo" placeholder="Add a new task">
  <button id="add-button">Add</button>
  </div>
</div>
<!-- /Main -->

<%- include('./include/footer') %>

