<%- include('./include/header') %>

<!-- Main -->
<div id="todo-container">
  <h2>To-Do List</h2>
  <ul id="todo-list"></ul>
  <form method="POST" id="add-todo">
    <input type="text" id="new-todo" placeholder="Add a new task">
    <input type="text" id="new-todo" placeholder="Add a new task">
    <button id="add-button">Add</button>
  </form>
</div>
<!-- /Main -->

<%- include('./include/footer') %>

