<%- include('./include/header') %>

<!-- Main -->
<div id="todo-container">
  <h2>To-Do List</h2>
  <ul id="todo-list"></ul>
  <form action="/todo" method="POST" id="add-todo">
    <input type="text" name="title" id="title" placeholder="제목">
    <input type="text" name="body" id="body" placeholder="내용">
    <button id="add-button">Add</button>
  </form>
  <% todo.forEach(todo => { %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.body %></td>
      <td>
       <form>
          <a href="#" class="btn update" title="수정">
            <i class="fas fa-pencil-alt"></i>
       </form>
        </a>
        <a href="#" class="btn delete" title="삭제">
          <i class="fas fa-times"></i>
        </a>                
      </td>
    </tr>
  <% }); %>
</div>
<!-- /Main -->

<%- include('./include/footer') %>

