h2{
  margin-left: 2vw;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  
}
#body {
  margin-left: 1vw;
}

#todo-container {
  max-width: 50vw;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.add-todo {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 20px;
  margin: 2vw 2vw;
}

.title {
  flex: 1 0 2rem;
}
.body {
  flex: 1 0 10rem;
}

#new-todo {
  flex-grow: 1;
  padding: 8px;
}

.add-button {
  font-size: 18px;
  padding: 8px;
  margin-left: 10px;
  background-color: #90B1DB;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .task {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
} */

