/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-left: 2vw;
}

/* Todo container */
#todo-container {
  max-width: 50vw;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column; /* Added flex-direction to column */
}

/* Add todo form */
.add-todo {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 20px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.title,
.body {
  flex: 1 0 50%;
}

.add-button {
  font-size: 18px;
  padding: 8px;
  background-color: #90B1DB;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #769cc0;
}

/* Task */
.task {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 2px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.task-title,
.task-body {
  flex: 1 0 50%;
}

.task-edit,
.task-delete {
  font-size: 14px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.task-edit:hover,
.task-delete:hover {
  filter: brightness(0.8);
}
